.header {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.main {
  display: flex;
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.section {
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.article {
  border: 1px solid rgba(0, 0, 0, 0.166);
  padding: 1rem;
}
